<div class="modal" id="passwordModal">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Change Password
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></h4>
        </button>
      </div>
      
      
      <div class="modal-body">
        <form >
          <!--<div class="form-group">
                    <input type="password" class="form-control" ng-model="oldPassword" placeholder="Old password" required>
                  </div>-->
                  <div class="form-group">
                    <input type="password" class="form-control" ng-model="newPassword1" placeholder="New password">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" name="password" ng-model="newPassword2" placeholder="Re-Type new password"/>
                  </div>
                  <div class="modal-footer">
                    <span ng-show="newPassword2!= undefined &&  newPassword2.length > 0 && newPassword2!=newPassword1" class="text-danger pull-left"><strong>Error </strong>Passwords doesn't match</span>
                    <button class="btn btn-primary bn-md" ng-click="changePassword(newPassword2)" ng-disabled="!(newPassword2!= undefined &&  newPassword2.length > 0 && newPassword1!= undefined && newPassword1.length > 0 && newPassword2==newPassword1 )" data-dismiss="modal">Change</button>

                    <button class="btn btn-default bn-md" data-dismiss="modal">cancel</button></div>
                  </form>
                </div>
              </div>
            </div>
