 <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th> 
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">contact</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="u in users">
                <td>{{$index + 1}}</td>
                <td><a href="#profile/{{u.username}}">{{u.fullName}}</a></td>
                <td>{{u.role | lowercase}}</td>
                <td>{{u.phoneNumber}}</td>
             
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userModal" ng-click="modalData={}"> Add New User</button>

  <div ng-include="'user_input_form.html'"></div>
</div>
</div>